html, body {
  height: 100%;
  padding-bottom: 20px
  width:100%;
	
  font-family: arial,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20pt;
  
  color:#fff;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  background-size: cover;
  background-repeat: no-repeat;
  background: url('../images/road.jpg');
}

.content-container {
	
	width:80%;
	margin:0 auto;
	
	height:auto;
}

img.logo {
	float:left;
	width:100px;
	display:block;
	margin-top:50px;
}

.web-title {
	display:block;
	float:left;
	font-size:60px;
	line-height: 100px;
	margin-left: 20px;
	margin-top:50px;
}

nav {
	
	width: 100%;
	height:50px;
}

ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

li a {
	
	float:left;
	width:25%;
	
	display:block;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color:#fff;
	
	background-color: #660000;
	
}

li a:hover {
	
	background-color: #773300;
	
}
.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}
.jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
}
* {box-sizing: border-box}

  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: rgb(235, 145, 62);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}